/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*-----------------*/
@font-face {
   font-family: 'balqis';
   src: url('../fonts/AnyConv.com__Balqis.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 300;
   font-size: 21px;
   line-height: 116%;
   color: #000;
}

.container {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

.page-section {
   margin: 200px auto;
   max-width: 1920px;
}

/* -------------------------------------------------------- */
.header {
   background-image: url(../images/header-bg.jpg);
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom center;
}

.header__top {
   display: flex;
   justify-content: space-between;
   padding-top: 72px;
}

.menu {}

.menu__list {}

.menu__list-item {
   display: inline-block;
}

.menu__list-item+.menu__list-item {
   margin-left: 52px;
}

.menu__list-link {
   color: #000;
   font-size: 24px;
   font-weight: 400;
}

.menu__list-link:hover {
   text-decoration: underline;
}

.header__phone {
   padding-left: 40px;
   color: #000;
   position: relative;
   font-size: 24px;
   font-weight: 400;
}

.header__phone::before {
   content: "";
   position: absolute;
   background-image: url(../images/phone.svg);
   width: 30px;
   height: 30px;
   left: 0;
}

.header__title {
   font-family: 'Balqis', sans-serif;
   font-weight: 400;
   font-size: 250px;
   line-height: 133%;
   /* line-height: 60%; */
   padding-top: 152px;
   text-align: center;
}

.header__title span {
   font-family: 'Roboto Condensed', sans-serif;
   display: block;
   text-align: right;
   font-style: italic;
   font-weight: 300;
   font-size: 56px;
   line-height: 117%;
   margin-top: -66px;
   /* margin-top: 10px; */
   margin-right: 85px;
}

/* ----------------------------------------------------- */
.fairy-tail {}

.fairy-tail__title span {
   margin-left: 185px;
}

.title {
   font-family: 'Balqis';
   font-weight: 300;
   font-size: 96px;
   line-height: 133%;
   color: #E2AB3F;
   margin-bottom: 100px;
}

.title span {
   display: block;
   font-style: italic;
   font-size: 24px;
   line-height: 116%;
   color: #000000;
   margin-top: -30px;
}

.fairy-tail__inner {
   position: relative;
}

.fairy-tail__slider {
   width: 50%;
}

.slick-btn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: transparent;
   z-index: 5;
}

.slick-prev {
   left: 12px;
}

.slick-next {
   right: 0;
}

.fairy-tail__item {}

.fairy-tail__content {}

.fairy-tail__container,
.our-trip__container {
   position: absolute;
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.fairy-tail__body {
   width: 50%;
   margin-left: auto;
   padding-left: 55px;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-around;
}

.fairy-tail__text {
   padding: 10px 0;
}

.fairy-tail__body-title {
   font-weight: 400;
   font-size: 18px;
}

.fairy-tail__list {}

/* ---------------------------------------------------------------- */
.our-trip {}

.page-section {}

.our-trip__inner {
   position: relative;
}

.our-trip__content {
   width: 50%;
   padding-right: 55px;
}

.our-trip__body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   height: 100%;
}

.our-trip__title span {
   margin-left: 240px;
}

.title {}

.our-trip__list {
   margin: 5px 0;
   font-size: 24px;
}

.our-trip__list li:first-child {
   font-family: 'Roboto Condensed';
   font-size: 24px;
   font-weight: 400;
   margin-bottom: 20px;
}

.our-trip__btn {
   border: 1px solid #E2AB3F;
   padding: 11px 54px;
   font-size: 24px;
   font-weight: 300;
   color: #000;
}

.our-trip__slider {
   width: 50%;
   margin-left: auto;
}

.our-trip__slider-item {}

/* ---------------------------------------------------------------- */
.hotel {}

.page-section {}

.hotel__title span {
   margin-left: 120px;
   font-family: 'Roboto Condensed';
   font-style: italic;
   font-weight: 300;
   font-size: 24px;
}

.title {}

.hotel__inner {
   display: flex;
}

.hotel__images {
   margin-right: 100px;
}

.hotel__content {}

.hotel__text {
   margin-bottom: 20px;
}

.hotel__gallery {
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.hotel__gallery a {
   margin-top: 50px;
}

/* ----------------------------------------------------------- */
.price {
   background-image: url(../images/price-bg.png);
   background-repeat: no-repeat;
   background-size: 320px;
   background-position: center right 5%;
}

.page-section {}

.price__title {}

.title span {
   margin-left: 120px;
}

.price__inner {
   display: flex;
}

.price__on {
   width: 530px;
   margin-right: 70px;
}

.price__off {
   width: 370px;
}

.price__on-title,
.price__off-title {
   font-family: 'Roboto Condensed';
   font-weight: 400;
   font-size: 24px;
   margin-bottom: 50px;
}

.price__list {}

.price__list-item {
   margin-bottom: 20px;
}

/* --------------------------------------------------- */
.contacts {}

.page-section {}

.contacts__inner {
   display: flex;
   justify-content: space-between;
}

.contacts__content {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.contacts__info {}

.contacts__date,
.contacts__price {
   font-family: 'Balqis';
   font-weight: 400;
   font-size: 96px;
   line-height: 71%;
   color: #E2AB3F;
}

.contacts__date {
   margin-bottom: 20px;
}

.contacts__price {
   margin-left: 100px;
}

.contacts__date span {
   font-family: 'Roboto Condensed';
   font-style: italic;
   font-weight: 300;
   font-size: 24px;
   color: #000;
   display: block;
   margin-left: 205px;
   margin-top: -10px;
}

.contacts__price span {
   font-family: 'Roboto Condensed';
   font-style: italic;
   font-weight: 300;
   font-size: 24px;
   color: #000;
   display: block;
   margin-top: -10px;
   margin-left: 200px;
}

.contacts__form {
   max-width: 383px;
   margin: 0 auto;
}

.contacts__form-title {
   font-family: 'Roboto Condensed';
   font-weight: 400;
   font-size: 24px;
   margin-bottom: 50px;
}

.contacts__form-name,
.contacts__form-phone {
   font-family: 'Roboto Condensed';
   display: block;
   border: 1px solid #E2AB3F;
   margin-bottom: 20px;
   padding: 14px 10px 14px 30px;
   width: 100%;
}

.contacts__form-name,
.contacts__form-phone::placeholder {
   font-family: 'Roboto Condensed';
   font-weight: 300;
   font-size: 18px;
}

.contacts__form-btn {
   font-family: 'Roboto Condensed';
   font-weight: 300;
   font-size: 24px;
   border: 1px solid #E2AB3F;
   padding: 11px 45px;
   background-color: transparent;
}

.contacts__images {}

/* ------------------------------------------------------------- */
.footer {
   background-image: url(../images/footer-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom center;
   height: 100vh;
   padding-top: 96px;
}

.footer__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__contacts {
   width: 356px;
   height: 527px;
   background-image: url(../images/footer-contact-bg.png);
   background-repeat: no-repeat;
   text-align: center;
   background-size: cover;
}

.footer__contacts-title {
   font-family: 'Balqis';
   font-weight: 400;
   font-size: 86px;
   line-height: 133%;
   color: #E2AB3F;
   /* padding: 70px 40px 0px 43px; */
   margin-bottom: 50px;
   padding-top: 50px;
}

.footer__phone,
.footer__email {
   font-weight: 300;
   font-size: 18px;
   line-height: 21px;
   color: #000;
   padding-left: 40px;
   position: relative;
   display: inline-block;
}

.footer__phone {
   margin-bottom: 20px;
}

.footer__phone::before {
   content: "";
   position: absolute;
   background-image: url(../images/footer-phone.svg);
   left: 0;
   top: -5px;
   width: 30px;
   height: 30px;
}

.footer__email::before {
   content: "";
   position: absolute;
   background-image: url(../images/footer-email.svg);
   left: 0;
   top: -5px;
   height: 30px;
   width: 30px;
}

.footer__social {
   margin-top: 38px;
}

.footer__social-link {
   margin: 0 7px;
}

.footer__text {
   font-family: 'Balqis';
   font-weight: 400;
   font-size: 86px;
   line-height: 133%;
}

/* ------------------------------------------------------------ */
@media (max-width: 1240px) {
   .header__title {
      padding-top: 120px;
      font-size: 180px;
   }

   .header__title span {
      font-size: 50px;
      margin-top: -50px;
   }

   .hotel__inner {
      display: block;
   }

   .hotel__images {
      height: 50vh;
      width: 100%;
      object-fit: cover;
      margin-right: 0;
   }

   .price__inner {
      display: block;
   }
}

@media (max-width: 1064px) {
   .contacts__inner {
      display: block;
   }

   .contacts__form-btn {
      margin-bottom: 10px;
   }

   .contacts__images {
      width: 100%;
      height: 80vh;
      object-fit: cover;
   }
}

@media (max-width: 991px) {
   .page-section {
      margin: 100px 0;
   }

   .fairy-tail__container,
   .our-trip__container {
      position: static;
   }

   .fairy-tail__slider,
   .our-trip__slider {
      width: 100%;
   }

   .slick-slide img {
      width: 100%;
   }

   .fairy-tail__body {
      width: 100%;
      padding-left: 0;
   }

   .our-trip__btn {
      margin-bottom: 10px;
   }

   .our-trip__content {
      width: 100%;
      padding-right: 0;
   }

   .price {
      background-size: 200px;
   }

   .contacts__content {
      display: block;
   }

   .contacts__form {
      max-width: 100%;
   }

   .footer {
      padding-top: 10px;
   }

   .footer__text {
      font-size: 66px;
      text-align: center;
   }

}

@media (max-width: 840px) {
   .header__title {
      padding-top: 100px;
      font-size: 120px;
   }

   .header__title span {
      font-size: 30px;
      margin-top: -44px;
   }

   .header__top {
      font-size: 20px;
   }

   .header__top {
      justify-content: center;
      flex-wrap: wrap;
   }

   .menu {
      width: 100%;
      text-align: center;
      margin: 0 0 25px;
   }

   .footer__inner {
      display: block;
   }

   .footer__contacts-title {
      font-size: 70px;
   }
}

@media (max-width: 600px) {

   .header__title {
      font-size: 80px;
   }

   .header__title span {
      font-size: 22px;
      padding-top: 15px;
      margin-right: 15px;
   }

   .menu__list-item+.menu__list-item {
      margin-left: 15px;
   }

   .fairy-tail__item img,
   .our-trip__slider-item img {
      height: 50vh;
      width: 100%;
      object-fit: cover;
   }

   .page-section {
      margin: 50px 0;
   }

   .title {
      margin-bottom: 25px;
      font-size: 60px;
   }

   .title span {
      margin-top: -20px;
      margin-left: 110px;
      font-size: 17px;
   }

   .hotel__gallery {
      justify-content: center;
      margin-top: 0;
   }

   .hotel__gallery a {
      margin-top: 25px;
   }

   .price {
      background-size: 100px;
   }

   .price__on,
   .price__off {
      width: 100%;
   }

   .contacts__date,
   .contacts__price {
      font-size: 80px;
   }

   .contacts__date span {
      margin-left: 105px;
      font-size: 17px;
   }

   .contacts__price span {
      margin-left: 100px;
      font-size: 17px;
   }

   .contacts__form-btn {
      font-size: 20px;
   }

   .contacts__form-title {
      font-size: 20px;
      margin-bottom: 25px;
   }

   .footer__text {
      font-size: 42px;
   }
}

@media (max-width: 385px) {

   .header__title {
      font-size: 60px;
   }

   .header__title span {
      font-size: 18px;
      margin-right: 0;
      padding-top: 25px;
   }

   .menu__list-item+.menu__list-item {
      margin-left: 4px;
   }

   .title {
      font-size: 50px;
   }

   /* .footer__contacts {
      width: 321px;
      height: 478px;
   } */
   .footer__contacts {
      width: 276px;
      height: 410px;
   }

   .footer__phone,
   .footer__email {
      font-size: 15px;
      padding-left: 33px;
   }

   .footer__contacts-title {
      font-size: 60px;
      padding-top: 25px;
   }

   .footer__social {
      margin-top: 15px;
   }
}